DATABASE_URL="postgresql://nobodyasked:yourpassword@db:5432/nobodyasked"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="https://yourdomain.com"
DB_PASSWORD="yourpassword"
DOMAIN="yourdomain.com"
